body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(desktopwall.jpg) repeat;
  background-size: 110%;
}
#wrapper {
  width: 940px;
  margin: 20px auto;
}
.navbar-inverse .btn-link {
    color: white;
}
h1 {
	color: white;
	font-size: 25px;
}
#codertitle {
	color: orange;
	font-size: 20px;
}
#p1 {
	color: white;
	font-size: 15px;
}
#fotoperfil {
	border: 5px solid white;
}
h4 {
	color: orange;
	font-size: 20px;
}
.lista {
	color: white;
}
#summary {
	color: orange;
}
#texto {
	color: white;
}
/*SOS*/


