body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(backg.jpg) repeat;
  background-size: 960px;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1 {
	color: white;
}
#summary {
	color: orange;
}
.unicorn {
	color: purple;
	position: relative;
	bottom: 220px;
}
/*SOS*/
#fotoperfil {
	position: relative;
	left: 300px;
	border: 10px solid white;
}
#codertitle {
	color: orange;
	position: relative;
	bottom: 350px;
}
#p1 {
	position: relative;
	bottom: 350px;
}
.lista {
	position: relative;
	bottom: 300px;
}
.text {
	position: relative;
	bottom: 220px;
}